<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMF_kjL5l0yQbDwVQ0PPAxpk-e0IckT78</string>
	<key>GCM_SENDER_ID</key>
	<string>303043040929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wintergreen.lab.googleMap</string>
	<key>PROJECT_ID</key>
	<string>maptest-c2988</string>
	<key>STORAGE_BUCKET</key>
	<string>maptest-c2988.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303043040929:ios:a8b77177de2b31a4e002e0</string>
</dict>
</plist>